* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #343fdf;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.category-buttons {
    text-align: center;
    margin-bottom: 40px;
}

.btn {
    padding: 10px 40px;
    margin: 5px;
    border: none;
    background: #0c0f05;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover, .btn.active {
    background: #010c01;
    color: rgb(12, 8, 8);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
}

.image-card {
    display: none;
}

.image-card img {
    width: 100%;
    border-radius: 10px;
}
